.color{
    
    /* font-family: 'Rubik','Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif'; */
    font-family: monospace;
    /* font-size: 16px; */
    color: white;
    padding: 0px 50px 50px 50px;
    /* background: url("./bg.jpg") no-repeat fixed;
    background-size: cover;
    background-blend-mode: darken; */
    background-color: #4bff03;
}

.bg{
    background: url("./bg.jpg") no-repeat fixed;
    background-size: cover;
    backdrop-filter: blur(1.1rem);
}

.con{
    text-align: center;
    color: rgb(1, 1, 98);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-top: 2rem;
    height: auto;
    /* min-height: 100px; */
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5rem;
    /* display: none; */
}

.con p{
    text-align: left; 
    font-size: 1.05rem;
}

.con p span{
    color: #e24000;
}

.tag{
    margin: 5rem 0.1rem 0rem 0.1rem;
    /* display: none; */
    border-radius: 15px;
    padding-top: 5rem;
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.350);
    height: auto;
    font-weight: bold;
    color: #e24000;
}

.bar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.426);
    margin: 0.5rem; 
    padding: 0.5rem; 
    border-radius: 0.3rem;  
}

.bar:hover {
    background-color: #1b03b6;
    color: white;
}

.skills{
    margin-top: 1rem;
    color: #e24000;
}

.title{
    color: white;
    font-family: monospace;
    padding-left: 2rem;
}

.dest{
    color: white;
    font-family: monospace;
    padding-left: 2rem;
}

/* .title:hover span{
    background-color: white;
    color: #1b03b6;
} */

/* .dest:hover span{
    background-color: white;
    color: rgb(1, 1, 98);
} */

.intro{
    padding-left: 5rem;
}

.myname{
    /* background-color: rgba(255, 255, 255, 0.486); */
    padding: 200px 0px 200px 0px;
    margin: 5rem 0.1rem 0rem 0.1rem;
    border-radius: 5px;
    border-width: 2px;
    font-size: 3rem;
    border-top-right-radius: 100px;
}
.card{
    margin: 5rem 0.1rem 3rem 0.1rem;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    height: auto;
    min-height: 350px;
    filter: drop-shadow(5px 8px 5px #00000064);
}

.showdown{
    display: none;
}

.card:hover .showdown{
    /* background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.266), rgba(180, 179, 179, 0.54)); */
    background-color: #ffb62f;
    border-color: rgb(254, 85, 0);
    border-width: 2px;
    display: block;
}
.card-text{
    text-align: justify;
    margin: 0.5rem;
    color: #e24000;
}

.card-text:hover span{
    background-color: #1b03b6;
    color: white;
}

.card-title{
    color: rgb(1, 1, 98);
    font-weight: bolder;
    padding-bottom: 1rem;
}
.navbar{
    background-color: #4bff03;
    font-size: 1rem;
}

.skills p{
    color: #1b03b6;
}

.nav2{
    padding: 0.8rem;
}

.nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.nav2 li{
    display: inline;
}

.nav-link{
    color: white;
}

#home{
    color: #ff652f;
}

.jobtitle{
    background-image: linear-gradient(to bottom right, rgba(255, 247, 0, 0.904), rgb(255, 102, 0));
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.btn{
    font-size: 16px;
}

.nav-item{
    text-align: center;
    width: 150px;
    color: white;
}
.nav-item:hover{
    background-color: rgba(251, 251, 251, 0.33);
    text-align: center;
    border-radius: 2px;
}
#connect{
    margin: 5rem 1rem 1rem 1rem;
}

#email{
    text-align: center;
    background-color: #ff0202;
    padding: 20px 0px 20px 0px;
}

#email:hover{
    background-color: white;
}

#linkedin{
    text-align: center;
    background-color: #0800ff;
    padding: 20px 0px 20px 0px;
}

#linkedin:hover{
    background-color: white;
}

#github{
    text-align: center;
    background-color: #000000;
    padding: 20px 0px 20px 0px;
}

#github:hover{
    background-color: white;
}

#resume{
    text-align: center;
    background-color: #0f9a00;
    padding: 20px 0px 20px 0px;
}

#resume:hover{
    background-color: white;
}

#connect a{
    color: white;
}

#connect a:hover{
    color: black;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: #fb6022; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }