.color{
    
    /* font-family: 'Rubik','Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif'; */
    font-family: monospace;
    /* font-size: 16px; */
    color: white;
    padding: 0px 50px 50px 50px;
    /* background: url("./bg.jpg") no-repeat fixed;
    background-size: cover;
    background-blend-mode: darken; */
    background-color: #8DDBE0;
    /* font-style: italic; */
}

.navbar{
    background-color: #8DDBE0;
    font-size: 1rem;
    /* border-bottom: 0.01rem solid rgb(255, 153, 1); */
}

.bg{
    background: url("./bg.jpg") no-repeat fixed;
    background-size: cover;
    backdrop-filter: blur(1.1rem);
}

.quality{
    display: inline;
    transform: scale(0.8);
    translate: -50px 100px;
    position: relative;
    animation: myscale 1s;
    animation-iteration-count: initial;
    filter: drop-shadow(2px 2px 2px #00000064) hue-rotate(340deg) saturate(30%) invert(6%) drop-shadow(2px 2px 2px #00000064);
}

@keyframes myscale {
    from {transform: scale(0.5);}
    to {translate: -50px 100px;transform: scale(0.8);}
}

.con{
    text-align: center;
    color: #090909;
    background-color: #D3FFE9;
    border-radius: 5px;
    padding-top: 2rem;
    height: auto;
    border-left: 0.3rem solid #4B5043;
    border-right: 0.3rem solid #4B5043;
    /* min-height: 100px; */
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0.5rem;
    /* display: none; */
}

.con2{
    text-align: center;
    /* color: #090909; */
    /* background-color: #D3FFE9; */
    color: #D3FFE9;
    /* border-radius: 5px; */
    /* height: auto; */
    /* display: none; */
    /* padding: 0; */
}

.con2 .gitbtn{
    background-color: #264653;
    padding: 2rem 0rem 2rem 0rem;
    text-decoration: unset;
    border-radius: 1rem;
    border: 0.2rem solid #8DDBE0;
}

.gitbtn a{
    color: #D3FFE9;
    text-decoration: unset;
}

.con2 .gitbtn:hover{
    background-color: #1e3842;
    transform: scale(1.025);
    filter: drop-shadow(1px 1px 3px black);
    border: 0.2rem solid white;
}

.con p{
    text-align: left;
    font-size: 1.05rem;
}

.con p span{
    color: #4B5043;
}

.tag{
    margin-top: 5rem;
    margin-bottom: 1rem;
    /* display: none; */
    border-radius: 15px;
    border-bottom: 0.3rem solid #090909;
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: center;
    font-size: 1.1rem;
    background-color: #4B5043;
    height: auto;
    font-weight: bold;
    color: #D3FFE9;
    /* font-style: italic; */
}

.bar:hover {
    background-color: #264653;
    color: white;
    filter: drop-shadow(1px 1px 3px black);
    transform: scale(1.025);
}

.bar {
    background-color: #264653;
    color: white;
    margin: 0.5rem; 
    padding: 0.5rem; 
    border-radius: 0.3rem;
    width: 100%;
    filter: drop-shadow(1px 1px 1px black);
}

.skills{
    /* margin-top: 1rem; */
    color: #e24000;
}

.title{
    color: white;
    font-family: monospace;
    padding-left: 2rem;
    position: relative;
    animation: mytitle 2s;
    animation-iteration-count: initial;
    filter: drop-shadow(1px 1px 1px #00000064);
}

@keyframes mytitle {
    from {left: -50rem; color: #090909;}
    to {left: 0rem;}
}

.dest{
    color: #253D5B;
    font-family: monospace;
    padding-left: 2rem;
    position: relative;
    animation: mytitle 1s;
    animation-iteration-count: initial;
    text-decoration: underline;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.536));
}

/* .title:hover span{
    background-color: white;
    color: #1b03b6;
}

.dest:hover span{
    background-color: #1b03b6;
    color: white;
} */

.myname{
    /* background-color: rgba(255, 255, 255, 0.486); */
    padding: 50px 0px 50px 0px;
    margin: 5rem 0.1rem 0rem 0.1rem;
    border-radius: 5px;
    border-width: 2px;
    font-size: 3rem;
}

.card{
    /* margin: 0.3rem 0.1rem 3rem 0.1rem; */
    border-radius: 5px;
    text-align: center;
    /* padding: 10px 0px 0px 0px; */
    height: 400px;
    margin-top: 1rem;
    /* height: auto; */
    /* min-height: 350px; */
    filter: drop-shadow(5px 8px 5px #00000064);
    background-color: #D3FFE9;
    /* border-top-right-radius: 60px; */
    border-left: 0.4rem solid #4B5043;
    border-right: 0.4rem solid #4B5043;
}

.card:hover{
    transform: scale(1.025);
}

.showdown{
    display: none;
}

.card-text{
    text-align: justify;
    margin: 0.5rem;
    color: #090909;
    font-style: italic;
}

.card-text:hover span{
    background-color: #e24000;
    color: white;
}

.card-title{
    color: #D3FFE9;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #090909;
    border-radius: 0.3rem;
}

.sklbtn{
    background-color: #4B5043;
    padding: 1rem 0rem 1rem 0rem;
    /* border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; */
    color: white;
    text-decoration: unset;
}

.sklbtn:hover{
    background-color: #213b45;
}

.skills p{
    color: #090909;
    margin-top: 2rem;
}

.nav2{
    padding: 0.8rem;
}

.nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.nav2 li{
    display: inline;
}

.nav-link{
    color: white;
}

#home{
    color: #090909;
}

#home:hover{
    color: white;
    background-color: #090909;
    border-radius: 0.1rem;
}

.jobtitle{
    background-image: linear-gradient(to bottom right, rgba(255, 247, 0, 0.904), rgb(255, 102, 0));
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.btn{
    font-size: 16px;
}

.nav-item{
    text-align: center;
    width: 150px;
    color: white;
}
.nav-item:hover{
    background-color: rgba(251, 251, 251, 0.33);
    text-align: center;
    border-radius: 2px;
}

#connect{
    margin: 5rem 1rem 1rem 1rem;
}

#email{
    text-align: center;
    background-color: #ff0202;
    padding: 20px 0px 20px 0px;
}

#email:hover{
    background-color: white;
}

#linkedin{
    text-align: center;
    background-color: #0800ff;
    padding: 20px 0px 20px 0px;
}

#linkedin:hover{
    background-color: white;
}

#github{
    text-align: center;
    background-color: #000000;
    padding: 20px 0px 20px 0px;
}

#github:hover{
    background-color: white;
}

#resume{
    text-align: center;
    background-color: #0f9a00;
    padding: 20px 0px 20px 0px;
}

#resume:hover{
    background-color: white;
}

#connect a{
    color: white;
}

#connect a:hover{
    color: black;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #D3FFE9; /* Set a background color */
    color: #090909; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #090909; /* Add a dark-grey background on hover */
    color: #D3FFE9;
  }